<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mapsted Ionic Wrapper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Just Click this button to call the Mapsted Native SDK</p>
    <ion-button (click)="testPlugin()">Test</ion-button>

    <p>echo() result: {{responseStr}}</p><br/>
    <p>getBuildingInfo() result: {{responseStr}}</p>
    <pre>
      {{responseArr}}
    </pre>
  </div>
</ion-content>
