<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mapsted Ionic Wrapper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input label="Building ID" [(ngModel)]="buildingId" label-placement="floating" placeholder="Enter Building ID"></ion-input>
    </ion-item>
    <ion-label>Change the Building ID and click this button to call getBuildingInfo() from Native SDK</ion-label>
    
    <ion-button  size="large" expand="block" (click)="testPlugin()">Test</ion-button>

    <ion-label>
      <p>echo() result: {{responseStr}}</p>
    </ion-label>

    <ion-label>
      <p>getBuildingInfo() result:</p>
      <pre>
        {{responseArr}}
      </pre>
    </ion-label>
  </div>
</ion-content>
